<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ @Author: wangyihan
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.tabstudio.gridmanagementsystem.mapper.EventsMapper">
  <resultMap id="BaseResultMap" type="club.tabstudio.gridmanagementsystem.model.Events">
    <!--@mbg.generated-->
    <!--@Table events-->
    <id column="event_id" jdbcType="VARCHAR" property="eventId" />
    <result column="event_area_id" jdbcType="VARCHAR" property="eventAreaId" />
    <result column="event_area_admin_id" jdbcType="VARCHAR" property="eventAreaAdminId" />
    <result column="event_desc" jdbcType="VARCHAR" property="eventDesc" />
    <result column="event_position" jdbcType="VARCHAR" property="eventPosition" />
    <result column="event_address" jdbcType="VARCHAR" property="eventAddress" />
    <result column="event_user_id" jdbcType="VARCHAR" property="eventUserId" />
    <result column="event_user_evaluation" jdbcType="VARCHAR" property="eventUserEvaluation" />
    <result column="event_user_score" jdbcType="DOUBLE" property="eventUserScore" />
    <result column="event_status" jdbcType="INTEGER" property="eventStatus" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="accepted_at" jdbcType="TIMESTAMP" property="acceptedAt" />
    <result column="completed_at" jdbcType="TIMESTAMP" property="completedAt" />
  </resultMap>
<!--  <resultMap id="UsersResultMap" type="club.tabstudio.gridmanagementsystem.model.User">-->
<!--    <result column="event_area_admin_name" jdbcType="VARCHAR" property="eventAreaAdminName" />-->
<!--  </resultMap>-->
    <resultMap id="JoinResultMap" type="club.tabstudio.gridmanagementsystem.request.EventsQueryRequest" extends="BaseResultMap">
      <collection property="eventAreaAdminName" ofType="club.tabstudio.gridmanagementsystem.model.User" column="event_area_admin_name" jdbcType="VARCHAR" />
      <collection property="eventUserName" ofType="club.tabstudio.gridmanagementsystem.model.User" column="event_user_name" jdbcType="VARCHAR" />
      <collection property="eventAreaName" ofType="club.tabstudio.gridmanagementsystem.model.GridArea" column="event_area_name" jdbcType="VARCHAR" />
    </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    event_id, event_area_id, event_area_admin_id, event_desc, event_position, event_address,
    event_user_id, event_user_evaluation, event_user_score, event_status, created_at,
    accepted_at, completed_at
  </sql>
  <sql id="Join_Column_List">
    event_id, event_area_id, event_area_admin_id, event_desc, event_position, event_address,
    event_user_id, event_user_evaluation, event_user_score, event_status, created_at,
    accepted_at, completed_at, `grid-management`.users.name as event_area_admin_name,
    `grid-management`.users.name as event_user_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from events
    where event_id = #{eventId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from events
    where event_id = #{eventId,jdbcType=VARCHAR}
  </delete>
  <insert id="insertSelective" parameterType="club.tabstudio.gridmanagementsystem.model.Events">
    <!--@mbg.generated-->
    insert into events
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="eventId != null">
        event_id,
      </if>
      <if test="eventAreaId != null">
        event_area_id,
      </if>
      <if test="eventAreaAdminId != null">
        event_area_admin_id,
      </if>
      <if test="eventDesc != null">
        event_desc,
      </if>
      <if test="eventPosition != null">
        event_position,
      </if>
      <if test="eventAddress != null">
        event_address,
      </if>
      <if test="eventUserId != null">
        event_user_id,
      </if>
      <if test="eventUserEvaluation != null">
        event_user_evaluation,
      </if>
      <if test="eventUserScore != null">
        event_user_score,
      </if>
      <if test="eventStatus != null">
        event_status,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="acceptedAt != null">
        accepted_at,
      </if>
      <if test="completedAt != null">
        completed_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="eventId != null">
        #{eventId,jdbcType=VARCHAR},
      </if>
      <if test="eventAreaId != null">
        #{eventAreaId,jdbcType=VARCHAR},
      </if>
      <if test="eventAreaAdminId != null">
        #{eventAreaAdminId,jdbcType=VARCHAR},
      </if>
      <if test="eventDesc != null">
        #{eventDesc,jdbcType=VARCHAR},
      </if>
      <if test="eventPosition != null">
        #{eventPosition,jdbcType=VARCHAR},
      </if>
      <if test="eventAddress != null">
        #{eventAddress,jdbcType=VARCHAR},
      </if>
      <if test="eventUserId != null">
        #{eventUserId,jdbcType=VARCHAR},
      </if>
      <if test="eventUserEvaluation != null">
        #{eventUserEvaluation,jdbcType=VARCHAR},
      </if>
      <if test="eventUserScore != null">
        #{eventUserScore,jdbcType=DOUBLE},
      </if>
      <if test="eventStatus != null">
        #{eventStatus,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="acceptedAt != null">
        #{acceptedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="completedAt != null">
        #{completedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="club.tabstudio.gridmanagementsystem.model.Events">
    <!--@mbg.generated-->
    update events
    <set>
      <if test="eventAreaId != null">
        event_area_id = #{eventAreaId,jdbcType=VARCHAR},
      </if>
      <if test="eventAreaAdminId != null">
        event_area_admin_id = #{eventAreaAdminId,jdbcType=VARCHAR},
      </if>
      <if test="eventDesc != null">
        event_desc = #{eventDesc,jdbcType=VARCHAR},
      </if>
      <if test="eventPosition != null">
        event_position = #{eventPosition,jdbcType=VARCHAR},
      </if>
      <if test="eventAddress != null">
        event_address = #{eventAddress,jdbcType=VARCHAR},
      </if>
      <if test="eventUserId != null">
        event_user_id = #{eventUserId,jdbcType=VARCHAR},
      </if>
      <if test="eventUserEvaluation != null">
        event_user_evaluation = #{eventUserEvaluation,jdbcType=VARCHAR},
      </if>
      <if test="eventUserScore != null">
        event_user_score = #{eventUserScore,jdbcType=DOUBLE},
      </if>
      <if test="eventStatus != null">
        event_status = #{eventStatus,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="acceptedAt != null">
        accepted_at = #{acceptedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="completedAt != null">
        completed_at = #{completedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where event_id = #{eventId,jdbcType=VARCHAR}
  </update>

<!--auto generated by MybatisCodeHelper on 2022-05-10-->
  <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from events
    </select>

<!--auto generated by MybatisCodeHelper on 2022-05-10-->

<!--auto generated by MybatisCodeHelper on 2022-05-10-->
  <select id="selectAllByEventAreaId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from events
    where event_area_id=#{eventAreaId,jdbcType=VARCHAR}
  </select>

  <select id="selectEventByNameWithUsers" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from events
    where event_area_admin_id in (
        select user_id
        from users
        where name=#{name,jdbcType=VARCHAR}
    )
  </select>

<!--auto generated by MybatisCodeHelper on 2022-05-10-->
  <select id="selectAllByEventAreaAdminId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from events
    where event_area_admin_id=#{eventAreaAdminId,jdbcType=VARCHAR}
  </select>

<!--auto generated by MybatisCodeHelper on 2022-05-10-->
  <select id="selectByCreatedAt" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from events
    where YEAR(#{time,jdbcType=TIMESTAMP}) = YEAR(created_at)
    and MONTH(#{time,jdbcType=TIMESTAMP}) = MONTH(created_at)
  </select>


  <select id="selectAllWithOthersSelective"  resultMap="JoinResultMap" parameterType="club.tabstudio.gridmanagementsystem.request.EventsQueryRequest">
    <!--@mbg.generated-->
    select event_id, event_area_id, event_area_admin_id, event_desc, event_position, event_address,
    event_user_id, event_user_evaluation, event_user_score, event_status, events.created_at,
    events.accepted_at, events.completed_at,admin_user.`name` as admin_name,user.`name` as users_name,
    grid_area.area_name as event_area_name
    from events
    JOIN users AS admin_user ON `events`.event_area_admin_id = admin_user.user_id
    JOIN users As user ON `events`.event_user_id = user.user_id
    JOIN grid_area ON `events`.event_area_id = grid_area.area_id
    <where>
      <if test="eventId != null">
        and event_id = #{eventId,jdbcType=VARCHAR}
      </if>
      <if test="eventAreaId != null">
        and event_area_id = #{eventAreaId,jdbcType=VARCHAR}
      </if>
      <if test="eventAreaAdminId != null">
        and event_area_admin_id = #{eventAreaAdminId,jdbcType=VARCHAR}
      </if>
      <if test="eventUserId != null">
        and event_user_id = #{eventUserId,jdbcType=VARCHAR}
      </if>
      <if test="eventStatus != null">
        and event_status = #{eventStatus,jdbcType=INTEGER}
      </if>
      <if test="createdAt != null ">
        and YEAR(events.created_at) between YEAR(#{startTime,jdbcType=TIMESTAMP}) and YEAR(#{endTime,jdbcType=TIMESTAMP})
        and MONTH(events.created_at) between MONTH(#{startTime,jdbcType=TIMESTAMP}) and MONTH(#{endTime,jdbcType=TIMESTAMP})
        and DAYOFMONTH(events.created_at) between DAYOFMONTH(#{startTime,jdbcType=TIMESTAMP}) and DAYOFMONTH(#{endTime,jdbcType=TIMESTAMP})
      </if>

    </where>
    ;


  </select>
</mapper>