<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.tabstudio.gridmanagementsystem.mapper.EventImageMapper">
  <resultMap id="BaseResultMap" type="club.tabstudio.gridmanagementsystem.model.EventImage">
    <!--@mbg.generated-->
    <!--@Table event_image-->
    <id column="event_image_id" jdbcType="VARCHAR" property="eventImageId" />
    <result column="event_id" jdbcType="VARCHAR" property="eventId" />
    <result column="event_image_path" jdbcType="VARCHAR" property="eventImagePath" />
  </resultMap>
  <resultMap id="JoinResultMap" type="club.tabstudio.gridmanagementsystem.model.EventImage">
    <id column="event_image_id" jdbcType="VARCHAR" property="eventImageId" />
    <result column="event_image_path" jdbcType="VARCHAR" property="eventImagePath" />
  </resultMap>
  <sql id="Join_EventsImage_Column_List">
    event_image_id, event_image_path
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    event_image_id, event_id, event_image_path
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from event_image
    where event_image_id = #{eventImageId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from event_image
    where event_image_id = #{eventImageId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="club.tabstudio.gridmanagementsystem.model.EventImage">
    <!--@mbg.generated-->
    insert into event_image (event_image_id, event_id, event_image_path
      )
    values (#{eventImageId,jdbcType=VARCHAR}, #{eventId,jdbcType=VARCHAR}, #{eventImagePath,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="club.tabstudio.gridmanagementsystem.model.EventImage">
    <!--@mbg.generated-->
    insert into event_image
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="eventImageId != null">
        event_image_id,
      </if>
      <if test="eventId != null">
        event_id,
      </if>
      <if test="eventImagePath != null">
        event_image_path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="eventImageId != null">
        #{eventImageId,jdbcType=VARCHAR},
      </if>
      <if test="eventId != null">
        #{eventId,jdbcType=VARCHAR},
      </if>
      <if test="eventImagePath != null">
        #{eventImagePath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="club.tabstudio.gridmanagementsystem.model.EventImage">
    <!--@mbg.generated-->
    update event_image
    <set>
      <if test="eventId != null">
        event_id = #{eventId,jdbcType=VARCHAR},
      </if>
      <if test="eventImagePath != null">
        event_image_path = #{eventImagePath,jdbcType=VARCHAR},
      </if>
    </set>
    where event_image_id = #{eventImageId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="club.tabstudio.gridmanagementsystem.model.EventImage">
    <!--@mbg.generated-->
    update event_image
    set event_id = #{eventId,jdbcType=VARCHAR},
      event_image_path = #{eventImagePath,jdbcType=VARCHAR}
    where event_image_id = #{eventImageId,jdbcType=VARCHAR}
  </update>

<!--auto generated by MybatisCodeHelper on 2022-05-19-->
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from event_image
  </select>

<!--auto generated by MybatisCodeHelper on 2022-05-19-->
  <select id="selectEventImageId" resultType="java.lang.String">
    select event_image_id
    from event_image
  </select>

<!--auto generated by MybatisCodeHelper on 2022-05-19-->
  <delete id="deleteByEventId">
    delete from event_image
    where event_id=#{eventId,jdbcType=VARCHAR}
  </delete>

<!--auto generated by MybatisCodeHelper on 2022-05-19-->
  <select id="selectByEventId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from event_image
    where event_id=#{eventId,jdbcType=VARCHAR}
  </select>

<!--auto generated by MybatisCodeHelper on 2022-05-19-->
  <select id="selectEventImagePathByEventId" resultType="java.lang.String">
    select event_image_path
    from event_image
    where event_id=#{eventId,jdbcType=VARCHAR}
  </select>

  <update id="updateBatchByImageId">
    <!--@mbg.generated-->
    update event_image
    SET
    event_id = #{eventId,jdbcType=VARCHAR}
    where event_image_id in
    <foreach collection="eventImageIds"  item="id" open="(" close=")" separator=",">
      #{id}
    </foreach>
  </update>
</mapper>