<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ @Author: wangyihan
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.tabstudio.gridmanagementsystem.mapper.GridAreaMapper">
  <resultMap id="BaseResultMap" type="club.tabstudio.gridmanagementsystem.model.GridArea">
    <!--@mbg.generated-->
    <!--@Table grid_area-->
    <id column="area_id" jdbcType="VARCHAR" property="areaId" />
    <result column="area_name" jdbcType="VARCHAR" property="areaName" />
    <result column="area_gis" jdbcType="LONGVARCHAR" property="areaGis" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    area_id, area_name, area_gis, created_at, updated_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from grid_area
    where area_id = #{areaId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from grid_area
    where area_id = #{areaId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="club.tabstudio.gridmanagementsystem.model.GridArea">
    <!--@mbg.generated-->
    insert into grid_area (area_id, area_name, area_gis, 
      created_at, updated_at)
    values (#{areaId,jdbcType=VARCHAR}, #{areaName,jdbcType=VARCHAR}, #{areaGis,jdbcType=LONGVARCHAR}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="club.tabstudio.gridmanagementsystem.model.GridArea">
    <!--@mbg.generated-->
    insert into grid_area
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="areaId != null">
        area_id,
      </if>
      <if test="areaName != null">
        area_name,
      </if>
      <if test="areaGis != null">
        area_gis,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="areaId != null">
        #{areaId,jdbcType=VARCHAR},
      </if>
      <if test="areaName != null">
        #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="areaGis != null">
        #{areaGis,jdbcType=LONGVARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="club.tabstudio.gridmanagementsystem.model.GridArea">
    <!--@mbg.generated-->
    update grid_area
    <set>
      <if test="areaName != null">
        area_name = #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="areaGis != null">
        area_gis = #{areaGis,jdbcType=LONGVARCHAR},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where area_id = #{areaId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="club.tabstudio.gridmanagementsystem.model.GridArea">
    <!--@mbg.generated-->
    update grid_area
    set area_name = #{areaName,jdbcType=VARCHAR},
      area_gis = #{areaGis,jdbcType=LONGVARCHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
    where area_id = #{areaId,jdbcType=VARCHAR}
  </update>

<!--auto generated by MybatisCodeHelper on 2022-05-11-->
  <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from grid_area
    </select>
</mapper>