<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.tabstudio.gridmanagementsystem.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="club.tabstudio.gridmanagementsystem.model.User">
        <!--@mbg.generated-->
        <!--@Table users-->
        <id column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
        <result column="area_id" jdbcType="VARCHAR" property="areaId"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="avatar_url" jdbcType="VARCHAR" property="avatarUrl"/>
        <result column="open_id" jdbcType="VARCHAR" property="openId"/>
        <result column="union_id" jdbcType="VARCHAR" property="unionId"/>
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt"/>
        <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        user_id, username, `password`, `name`, telephone, area_id, address, avatar_url, open_id,
        union_id, created_at, updated_at
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from users
        where user_id = #{userId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        <!--@mbg.generated-->
        delete
        from users
        where user_id = #{userId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="club.tabstudio.gridmanagementsystem.model.User">
        <!--@mbg.generated-->
        insert into users (user_id, username, `password`,
                           `name`, telephone, area_id,
                           address, avatar_url, open_id,
                           union_id, created_at, updated_at)
        values (#{userId,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
                #{name,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, #{areaId,jdbcType=VARCHAR},
                #{address,jdbcType=VARCHAR}, #{avatarUrl,jdbcType=VARCHAR}, #{openId,jdbcType=VARCHAR},
                #{unionId,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="club.tabstudio.gridmanagementsystem.model.User">
        <!--@mbg.generated-->
        insert into users
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                `password`,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="telephone != null">
                telephone,
            </if>
            <if test="areaId != null">
                area_id,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="avatarUrl != null">
                avatar_url,
            </if>
            <if test="openId != null">
                open_id,
            </if>
            <if test="unionId != null">
                union_id,
            </if>
            <if test="createdAt != null">
                created_at,
            </if>
            <if test="updatedAt != null">
                updated_at,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="telephone != null">
                #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="areaId != null">
                #{areaId,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="avatarUrl != null">
                #{avatarUrl,jdbcType=VARCHAR},
            </if>
            <if test="openId != null">
                #{openId,jdbcType=VARCHAR},
            </if>
            <if test="unionId != null">
                #{unionId,jdbcType=VARCHAR},
            </if>
            <if test="createdAt != null">
                #{createdAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedAt != null">
                #{updatedAt,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="club.tabstudio.gridmanagementsystem.model.User">
        <!--@mbg.generated-->
        update users
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                `password` = #{password,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="telephone != null">
                telephone = #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="areaId != null">
                area_id = #{areaId,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="avatarUrl != null">
                avatar_url = #{avatarUrl,jdbcType=VARCHAR},
            </if>
            <if test="openId != null">
                open_id = #{openId,jdbcType=VARCHAR},
            </if>
            <if test="unionId != null">
                union_id = #{unionId,jdbcType=VARCHAR},
            </if>
            <if test="createdAt != null">
                created_at = #{createdAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedAt != null">
                updated_at = #{updatedAt,jdbcType=TIMESTAMP},
            </if>
        </set>
        where user_id = #{userId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="club.tabstudio.gridmanagementsystem.model.User">
        <!--@mbg.generated-->
        update users
        set username   = #{username,jdbcType=VARCHAR},
            `password` = #{password,jdbcType=VARCHAR},
            `name`     = #{name,jdbcType=VARCHAR},
            telephone  = #{telephone,jdbcType=VARCHAR},
            area_id    = #{areaId,jdbcType=VARCHAR},
            address    = #{address,jdbcType=VARCHAR},
            avatar_url = #{avatarUrl,jdbcType=VARCHAR},
            open_id    = #{openId,jdbcType=VARCHAR},
            union_id   = #{unionId,jdbcType=VARCHAR},
            created_at = #{createdAt,jdbcType=TIMESTAMP},
            updated_at = #{updatedAt,jdbcType=TIMESTAMP}
        where user_id = #{userId,jdbcType=VARCHAR}
    </update>
    <sql id="Join_Column_List">
        <!--@mbg.generated-->
        users.user_id as users_user_id,
        users.username as users_username,
        users.password as users_password,
        users.name as users_name,
        users.telephone as users_telephone,
        users.area_id as users_area_id,
        users.address as users_address,
        users.avatar_url as users_avatar_url,
        users.open_id as users_open_id,
        users.union_id as users_union_id,
        users.created_at as users_created_at,
        users.updated_at as users_updated_at
    </sql>
    <resultMap id="JoinResultMap" type="club.tabstudio.gridmanagementsystem.model.User">
        <!--@mbg.generated-->
        <id column="users_user_id" property="userId"/>
        <result column="users_username" property="username"/>
        <result column="users_password" property="password"/>
        <result column="users_name" property="name"/>
        <result column="users_telephone" property="telephone"/>
        <result column="users_area_id" property="areaId"/>
        <result column="users_address" property="address"/>
        <result column="users_avatar_url" property="avatarUrl"/>
        <result column="users_open_id" property="openId"/>
        <result column="users_union_id" property="unionId"/>
        <result column="users_created_at" property="createdAt"/>
        <result column="users_updated_at" property="updatedAt"/>
    </resultMap>
    <resultMap id="withRole" type="club.tabstudio.gridmanagementsystem.model.UserWithRoleList" extends="JoinResultMap">
        <collection property="roleList"
                    resultMap="club.tabstudio.gridmanagementsystem.mapper.RoleMapper.JoinResultMap"/>
    </resultMap>
    <select id="selectAllWithRoleListByUsername" resultMap="withRole">
        select<include refid="Join_Column_List"/>,
        <include refid="club.tabstudio.gridmanagementsystem.mapper.RoleMapper.Join_Column_List"/>
        from users
                     left join users_role on users.user_id = users_role.user_id
                     left join role on users_role.role_id = role.role_id
        where users.username = #{username,jdbcType=VARCHAR}
    </select>
    <resultMap id="withPermission" type="club.tabstudio.gridmanagementsystem.model.UserWithPermissionList"
               extends="JoinResultMap">
        <collection property="permissionList" resultMap="club.tabstudio.gridmanagementsystem.mapper.PermissionMapper.JoinResultMap"/>
    </resultMap>
    <select id="selectWithPermissionByUsername" resultMap="withPermission">
        select<include refid="Join_Column_List"/>,
        <include refid="club.tabstudio.gridmanagementsystem.mapper.PermissionMapper.Join_Column_List"/>
        from users
                    left join users_role on users.user_id = users_role.user_id
                    left join role on users_role.role_id = role.role_id
                    left join role_permission on role.role_id = role_permission.role_id
                    left join permission on permission.permission_id = role_permission.permission_id
        where users.username = #{username,jdbcType=VARCHAR}
    </select>
</mapper>